/*body {
    background: #ecf0f1;
  }
  
  .wrap {
    width: 800px;
    margin: 30px auto;
  }*/
/*  
  .picsum-img-wrapper {
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
  }
  
  .picsum-img-wrapper img {
    width: 100%; 
    height: auto; 
  }
  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 100px auto 0;
    border: 2px solid #ddd;
    padding: 20px;
  }
  */
  /* carousel.component.css */

/* Center the carousel within its container */
/* carousel.component.css */

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ngb-carousel {
  width: 100%; /* Set the width to 100% */
  max-width: none; /* Ensure there's no max-width restriction */
}

.carousel-inner {
  width: 100%; /* Set the width of the carousel inner container to 100% */
}

.carousel-control-prev,
.carousel-control-next {
  width: 100%; /* Adjust the width as needed */
}

.carousel-indicators {
  bottom: -30px;
}
/* carousel.component.css */

:host {
  display: block;
  margin-bottom: 40px; /* Add space at the bottom of the carousel */
}

/* service-section.component.css */

