<!--<mat-toolbar color="primary">
    <span>User Management</span>
     <div class="spacer"></div>
       <a mat-button routerLink="home">Home</a>
       <a mat-button routerLink="about">About</a>
       <a mat-button routerLink="contact">Contact</a>
</mat-toolbar>-->
<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand custom-brand" routerLink="/">My App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
-->
<!--<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">My App</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>-->
<!--<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
    </div>
  </nav>
</div>-->

<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#ffd60a">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">Coding Yaar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!--
<p class="mt-5 text-center">Get a step-by-step written explanation here: <a href="https://codingyaar.com/responsive-bootstrap-navbar-underline-animation/" target="_blank">Bootstrap Navbar Underline Animation On Hover</a> </p>

<p class="mt-5 text-center">Get a step-by-step video explanation here: <a href="https://youtu.be/y7A1IUpqDaU" target="_blank">Bootstrap Navbar Underline Animation On Hover</a> </p>

<p>test</p>-->
  