<!--<div class="meet-our-team-section">
    <div class="team-member">
        <img src="./assets/images/team-member1.jpg" alt="Team Member 1">
        <h3>John Doe</h3>
        <p>Founder & CEO</p>
    </div>

    <div class="team-member">
        <img src="./assets/images/team-member2.jpg" alt="Team Member 2">
        <h3>Jane Smith</h3>
        <p>Lead Developer</p>
    </div>

    <div class="team-member">
        <img src="./assets/images/team-member3.jpg" alt="Team Member 3">
        <h3>Chris Johnson</h3>
        <p>Marketing Specialist</p>
    </div>
</div>-->
<!-- meet-our-team.component.html -->
<!--
<div class="meet-our-team-section">

<section class="section-team">
         
        
        <div class="row">
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="single-person">
                    <div class="person-image">
                        <img src="https://i.ibb.co/G2CBWvb/person1.jpg" alt="">
                        <span class="icon">
                            <i class="fab fa-html5"></i>
                        </span>
                    </div>
                    <div class="person-info">
                        <h3 class="full-name">John Doe</h3>
                        <span class="speciality">Web Developer</span>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="single-person">
                    <div class="person-image">
                        <img src="assets/images/team-member1.jpg" alt="">
                        <span class="icon">
                            <i class="fab fa-wordpress-simple"></i>
                        </span>
                    </div>
                    <div class="person-info">
                        <h3 class="full-name">Robert Smith</h3>
                        <span class="speciality">WordPress Developer</span>
                    </div>
                </div>
            </div>
          
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="single-person">
                    <div class="person-image">
                        <img src="assets/images/team-member2.jpg" alt="">
                        <span class="icon">
                            <i class="fab fa-angular"></i>
                        </span>
                    </div>
                    <div class="person-info">
                        <h3 class="full-name">John Doe</h3>
                        <span class="speciality">Angular Developer</span>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="single-person">
                    <div class="person-image">
                        <img src="assets/images/team-member3.jpg" alt="">
                        <span class="icon">
                            <i class="fab fa-js"></i>
                        </span>
                    </div>
                    <div class="person-info">
                        <h3 class="full-name">John Smith</h3>
                        <span class="speciality">Javascript Developer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>-->
<div class="meet-our-team-section">
<section id="team" class="team team-bg py-5">
    <div class="container">

      <div class="section-title">
        <!--<p class="main-team-subheading">Meet Our Team</p>-->
        <p class="main-team-heading">Meet Our Team</p>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/images/team-member3.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <p class="member-heading">John Doe</p>
              <span>Chief Executive Officer</span>
              <p class="member-para">Explicabo voluptatem mollitia et repellat</p>
              <div class="social">
                <a href=""><i class="fab fa-twitter team-icon"></i></a>
                <a href=""><i class="fab fa-facebook-f team-icon"></i></a>
                <a href=""><i class="fab fa-instagram team-icon"></i></a>
                <a href=""> <i class="fab fa-linkedin-in team-icon"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/images/team-member2.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <p class="member-heading">Jane Doe</p>
              <span>Product Manager</span>
              <p class="member-para">Aut maiores voluptates amet et quis</p>
              <div class="social">
                <a href=""><i class="fab fa-twitter team-icon"></i></a>
                <a href=""><i class="fab fa-facebook-f team-icon"></i></a>
                <a href=""><i class="fab fa-instagram team-icon"></i></a>
                <a href=""> <i class="fab fa-linkedin-in team-icon"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/images/team-member1.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <p class="member-heading">John Doe</p>
              <span>CTO</span>
              <p class="member-para">Quisquam facilis cum velit laborum corrupti</p>
              <div class="social">
                <a href=""><i class="fab fa-twitter team-icon"></i></a>
                <a href=""><i class="fab fa-facebook-f team-icon"></i></a>
                <a href=""><i class="fab fa-instagram team-icon"></i></a>
                <a href=""> <i class="fab fa-linkedin-in team-icon"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="https://image.flaticon.com/icons/png/512/56/56863.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <p class="member-heading">Jane Doe</p>
              <span>Accountant</span>
              <p class="member-para">Dolorum tempora officiis odit laborum officiis</p>
              <div class="social">
                <a href=""><i class="fab fa-twitter team-icon"></i></a>
                <a href=""><i class="fab fa-facebook-f team-icon"></i></a>
                <a href=""><i class="fab fa-instagram team-icon"></i></a>
                <a href=""> <i class="fab fa-linkedin-in team-icon"></i> </a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
</div>

    <section id="team" class="team team-bg py-5">
        <div class="container">

            <div class="section-title">
                <!--<p class="main-team-subheading">Meet Our Team</p>-->
                <p class="main-team-heading">Meet Our Team</p>
            </div>

            <div class="team-cards row">
                <!-- Team Cards Go Here -->
                <div class="col-lg-6">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="assets/images/team-member3.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <p class="member-heading">John Doe</p>
                            <span>Chief Executive Officer</span>
                            <p class="member-para">Explicabo voluptatem mollitia et repellat</p>
                            <div class="social">
                                <a href=""><i class="fab fa-twitter team-icon"></i></a>
                                <a href=""><i class="fab fa-facebook-f team-icon"></i></a>
                                <a href=""><i class="fab fa-instagram team-icon"></i></a>
                                <a href=""> <i class="fab fa-linkedin-in team-icon"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Repeat the above div structure for each team member -->
            </div>

        </div>
    </section>

